<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.codecube.keshav.motif">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.codecube.keshav.motif.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codecube.keshav.motif.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".MultiTouchActivity"
            android:label="" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />

        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="" />
        <activity
            android:name=".TermAndConditionsActivity"
            android:label="" />
        <activity
            android:name=".OffersDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UploadRequirementActivity"
            android:label=""
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".YesIHaveActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostInventoryActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogoutActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".RateThisAppActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <!--<activity
            android:name="fragments.MyRequestActivity"
            android:label=""
            android:screenOrientation="portrait" />-->

        <activity
            android:name=".SignInActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorporateHomeFragmentDetailActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".HomeFragmentDetailActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".DownloadFiles"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileUpdateActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>